<!--<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />-->
  <h1> Hola desde osm </h1>
  <div id="map_osm"></div>
  <script>
    var map = L.map('map_osm').
  setView([41.66, -4.72],
    15);
L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
  attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
  maxZoom: 18
}).addTo(map);
L.control.scale().addTo(map);
L.marker([41.66, -4.71],{draggable: true}).addTo(map);
  </script>
